<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/icons/PixelsFavicon.ico" type="image/x-icon" />
        <title>{% block title %}Pixels Makers{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    
    <body>

    <main>
   
        {{ include('base/header.html.twig') }}
            {% block body %}{% endblock %}
    </main>
        {{ include('base/footer.html.twig') }}
    </body>
</html>


{#
        <link href="{{ asset('css/root.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">#}

